
<<<<<<< HEAD
@model IEnumerable<Vidly.Models.Customer>
=======
@model Vidly.Models.Customer
>>>>>>> 2c041b800ef3e43a0c1cd2a9e9b63e1fdf803415
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class=“table table-bordered table-hover”>
<<<<<<< HEAD
    <tbody>
        <th>Name</th>
        <th>Discount Rate</th>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
=======

    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @customer.name
                <!--@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)-->
            </td>
        </tr>
    }
>>>>>>> 2c041b800ef3e43a0c1cd2a9e9b63e1fdf803415
</table>